.card {
    min-height: min-content;
    border: 1px solid $color-primario;
    transition: all 0.5s;
&:hover {
    transform: scale(1.05);
    
    .card-body {
        a {
            transition: all 0.5s;
            
        &:hover {
            background-color: $color-black;
                color: $color-primario;
            }
        }
    }
}
}







