.titulo-logo {
    font-family: $fuente-titulo;
    letter-spacing: 3.5px;
}

.subtitulo-logo {
    font-size: 1rem;
    font-family: $fuente-generica;
    color: $color-black;
    transition: color 0.7s;
    &:hover {
        color: $color-hover-menu;
    }
}


#menu {
    li {
        a {
            font-size: 1rem;
            font-family: $fuente-generica;
            font-weight: bold;
            color: $color-secundario;
            transition: color 0.7s;
        &:hover {
            color: $color-hover-menu;
            }
        }
    }
}

