#testimonio {
    background-color: $color-secundario;
    color: $color-secundario;
    .grilla-testimonio {
        border: 2px solid $color-secundario;
        height: min-content;
        width: 30%;
        transition: transform 0.7s, background-color 0.5s;
        background-color: #fbb034;
        background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    }
    .img-person {
        width: 100px;
        height: 125px;
        border-radius: 50% !important;
    }
    .nombre-person {
        font-family: $fuente-menu;
        font-size: 1.1rem;
    }
}


.grilla-testimonio:hover {
    transform: scale(1.05);
    background-color: rgba($color: #000, $alpha: 0.5);
}

