$color-primario: #ffbd52; 
$color-black: #000;
$color-blanco: #fffdfa;
$color-secundario:#333;
$color-hover-menu: #999;

$fuente-titulo: 'Kaushan Script', cursive; 
$fuente-text-sm: 'Roboto Condensed', sans-serif;
$fuente-menu: 'Staatliches', cursive;
$fuente-generica: 'Roboto Slab', serif;


$altura-menu: 70px;
